@font-face
{
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url('/fonts/Icons/icons.eot');
  src: url('/fonts/Icons/icons.eot') format('embedded-opentype'),
       url('/fonts/Icons/icons.ttf') format('truetype'),
       url('/fonts/Icons/icons.woff') format('woff'),
       url('/fonts/Icons/icons.svg') format('svg');
}

i.ico
{
   display: inline-block;

   font-family: 'icons';
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

i.ico.ico-arrow-down:before { content: "\e900" }
i.ico.ico-arrow-left:before { content: "\e901" }
i.ico.ico-arrow-right:before { content: "\e902" }
i.ico.ico-arrow-up:before { content: "\e903" }
i.ico.ico-chart:before { content: "\e904" }
i.ico.ico-google:before { content: "\e905" }
i.ico.ico-home:before { content: "\e906" }
i.ico.ico-lock:before { content: "\e907" }
i.ico.ico-logo:before { content: "\e908" }
i.ico.ico-logout:before { content: "\e909" }
i.ico.ico-menu:before { content: "\e90a" }
i.ico.ico-messages:before { content: "\e90b" }
i.ico.ico-messages-alt:before { content: "\e90c" }
i.ico.ico-notice:before { content: "\e90d" }
i.ico.ico-notice-alt:before { content: "\e90e" }
i.ico.ico-pin:before { content: "\e90f" }
i.ico.ico-search:before { content: "\e910" }
i.ico.ico-settings:before { content: "\e911" }
i.ico.ico-spinner:before { content: "\e912" }
i.ico.ico-times:before { content: "\e913" }
i.ico.ico-user:before { content: "\e914" }
